{%- raw %}
changelog:
  name: Generate changelog
  runs-on: ubuntu-latest
  permissions:
    contents: read
  outputs:
    release_body: ${{ steps.git-cliff.outputs.content }}
  steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Generate a changelog
      id: git-cliff
      uses: orhun/git-cliff-action@v4
      with:
        config: .github/cliff.toml
        args: -vv --current
      env:
        OUTPUT: CHANGELOG.md
        GITHUB_REPO: ${{ github.repository }}
{%- endraw %}