<!-- template:begin:header -->
<div align="center">
{%- if logo %}
<img src="https://raw.githubusercontent.com/{{ repository_name | lower }}/main/docs/assets/logo.svg" align="center" width="144px" height="144px"/>
{%- endif %}

### {{ repository_title }}

_{{ repository_description }}_

</div>

<div align="center">
{% if language == "python" and package %}
[![Pypi](https://img.shields.io/pypi/v/{{ package_name }}?label=&logo=pypi&style=for-the-badge&logoColor=yellow&color=3776AB)](https://pypi.python.org/pypi/{{ package_name }})
[![Python](https://img.shields.io/pypi/pyversions/{{ package_name }}?label=&logo=python&style=for-the-badge&logoColor=yellow&color=3776AB)](https://pypi.python.org/pypi/{{ package_name }})
{%- elif language == "go" %}
[![Go](https://img.shields.io/github/v/tag/{{ repository_name | lower }}?label=&logo=go&style=for-the-badge&logoColor=white&color=00ACD7)](https://pkg.go.dev/github.com/{{ repository_name | lower }}/{{ package_name }})
{%- elif language == "rust" %}
[![Crates.io](https://img.shields.io/crates/v/{{ repository_name | lower }}?label=&logo=rust&style=for-the-badge&logoColor=white&color=black)](https://crates.io/crates/{{ package_name }})
[![Rust](https://img.shields.io/crates/msrv/{{ repository_name | lower }}?label=&logo=rust&style=for-the-badge&logoColor=white&color=black)](https://crates.io/crates/{{ package_name }})
{%- endif %}
{#- note: Not supported for now see : https://github.com/badges/shields/issues/5594
{%- if docker %}
[![Docker](https://img.shields.io/docker/v/{{ repository_name | lower }}?label=&logo=docker&style=for-the-badge&logoColor=white&color=blue)](https://github.com/{{ repository_name | lower }}/pkgs/container/{{ package_name }})
{%- endif %}-#}
{%- if helm %}
[![Helm](https://img.shields.io/badge/dynamic/yaml?url=https%3A%2F%2Fraw.githubusercontent.com%2FM0NsTeRRR%2Fhelm-charts%2Frefs%2Fheads%2Fmain%2Fcharts%2F{{ package_name }}%2FChart.yaml&query=%24.version&label=&logo=helm&style=for-the-badge&logoColor=0F1487&color=white)](https://github.com/M0NsTeRRR/helm-charts/tree/main/charts/{{ package_name }})
{%- endif %}
</div>

<div align="center">

[![OpenSSF Scorecard](https://img.shields.io/ossf-scorecard/github.com/{{ repository_name }}?label=openssf%20scorecard&style=for-the-badge)](https://scorecard.dev/viewer/?uri=github.com/{{ repository_name }})

</div>
<!-- template:end:header -->