version: 2
updates:
{%- if "github-actions" in configs %}
{% include "dependabot/github-actions.yml.j2" | indent(2) %}
{%- endif %}
{%- if "python" in configs %}
{% include "dependabot/python.yml.j2" | indent(2) %}
{%- endif %}
{%- if "gomod" in configs %}
{% include "dependabot/gomod.yml.j2" | indent(2) %}
{%- endif %}