- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  assignees:
  - {{ owner }}
  ignore:
    - dependency-name: actions/checkout
    - dependency-name: actions/setup-go
    - dependency-name: actions/setup-python
    - dependency-name: docker/login-action
    - dependency-name: goreleaser/goreleaser-action
    - dependency-name: amannn/action-semantic-pull-request
