{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:recommended",
    "docker:enableMajor",
    "replacements:k8s-registry-move",
    ":automergePr",
    ":automergePatch",
    ":automergeDigest",
    ":disableRateLimiting",
    ":dependencyDashboard",
    ":semanticCommits",
    ":timezone(Europe/Paris)",
    "github>{{ repository_name | lower }}//.github/renovate/labels.json5",
    {%- if "devcontainer" in configs %}
    "github>{{ repository_name | lower }}//.github/renovate/devcontainer.json5",
    {%- endif %}
    {%- for additionnal_config in additionnal_configs %}
    "github>{{ repository_name | lower }}//.github/renovate/{{ additionnal_config }}",
    {%- endfor %}
  ],
  "dependencyDashboardTitle": "Renovate Dashboard 🤖",
  "suppressNotifications": ["prEditedNotification", "prIgnoreNotification"],
  "rebaseWhen": "conflicted",
  "minimumReleaseAge": "3 days",
  {%- if schedule %}
  "schedule": [
    "{{ schedule }}"
  ],
  {%- endif %}
  "labels": [
    "dependencies",
  ]
}
