- name: "🐛 bug"
  description: "Something isn't working"
  color: "d73a4a"
- name: "📖 documentation"
  description: "Improvements or additions to documentation"
  color: "0075ca"
- name: "🚀 enhancement"
  description: "New feature or request"
  color: "a2eeef"
- name: "🙏 help wanted"
  description: "Extra attention is needed"
  color: "008672"
- name: "❓ question"
  description: "Further information is requested"
  color: "9bd435"
- name: "⌛ pending author's response"
  description: "Requested additional information from the reporter"
  color: "fef2c0"
- name: "🤷 can't reproduce"
  description: "Issue can't be reproduced"
  color: "fef2c0"
- name: "🐸 dupplicate"
  description: "Issue dupplicate"
  color: "fef2c0"
- name: "⛔ wontfix"
  description: "This will not be worked on"
  color: "c27ba0"
- name: "dependencies"
  description: ""
  color: "027fa0"
- name: "{{ language }}"
  description: "Pull requests that update {{ language }} code"
  color: "027fa0"
{%- if docker %}
- name: "docker"
  description: "Pull requests that update docker code"
  color: "113341"
{%- endif %}
{%- if renovatebot %}
- name: "renovate/{{ language }}"
  description: ""
  color: "027fa0"
{%- if docker %}
- name: "renovate/docker"
  description: ""
  color: "027fa0"
{%- endif %}
- name: "renovate/github-tags"
  description: ""
  color: "027fa0"
- name: "renovate/github-release"
  description: ""
  color: "027fa0"
- name: "type/major"
  description: ""
  color: "f6412d"
- name: "type/minor"
  description: ""
  color: "ff9800"
- name: "type/patch"
  description: ""
  color: "ffec19"
- name: "type/digest"
  description: ""
  color: "ffec19"
{%- endif %}