{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "labels": ["dependencies"],
  "packageRules": [
{%- if language == "python" %}
    {
      "matchDatasources": ["pypi"],
      "addLabels": ["renovate/python"]
    },
{%- elif language == "go" %}
    {
      "matchDatasources": ["go"],
      "addLabels": ["renovate/go"]
    },
{%- elif language == "rust" %}
    {
      "matchDatasources": ["rust"],
      "addLabels": ["renovate/rust"]
    },
{%- endif %}
{%- if configs["docker"] %}
    {
      "matchDatasources": ["docker"],
      "addLabels": ["renovate/docker"]
    },
{%- endif %}
{%- if configs["helm"] %}
    {
      "matchDatasources": ["helm"],
      "addLabels": ["renovate/helm"]
    },
{%- endif %}
    {
      "matchDatasources": ["github-tags"],
      "addLabels": ["renovate/github-tags"]
    },
    {
      "matchDatasources": ["github-releases"],
      "addLabels": ["renovate/github-releases"]
    },
    {
      "matchUpdateTypes": ["major"],
      "labels": ["type/major"]
    },
    {
      "matchUpdateTypes": ["minor"],
      "labels": ["type/minor"]
    },
    {
      "matchUpdateTypes": ["patch"],
      "labels": ["type/patch"]
    },
    {
      "matchUpdateTypes": ["digest"],
      "labels": ["type/digest"]
    },
  ]
}
