{%- set tag_prefix %}
{%- if language == "go" %}v{% endif -%}
{%- endset %}
### Docker
```bash
version="1.0.0"

# Pull image
docker pull ghcr.io/{{ repository_name | lower }}:{{ tag_prefix }}${version}

# Verify image signature
cosign verify ghcr.io/{{ repository_name | lower }}:{{ tag_prefix }}${version} \
  --certificate-identity "https://github.com/{{ repository_name }}/.github/workflows/release.yml@refs/tags/{{ tag_prefix }}${version}" \
  --certificate-oidc-issuer "https://token.actions.githubusercontent.com"
```
