{%- raw %}
test:
  name: Test
  runs-on: ubuntu-latest
  permissions:
    contents: read
    pull-requests: read
  strategy:
    matrix:
      go:
{%- for version in versions %}
        - "{{ version }}"
{%- endfor %}
  steps:
    - uses: actions/checkout@v4
    - name: Install go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
    - name: Run tests
      run: go test -v
{%- endraw %}