Install [Go](https://go.dev/doc/install).

{%- if workflow_lint %}
### Run linter and formatter

[golangci-lint](https://golangci-lint.run/docs/welcome/install/#local-installation) must be installed.

```
golangci-lint run
```
{%- endif %}

{%- if workflow_test %}
### Run test

```
go test
```
{%- endif %}