Install [uv](https://docs.astral.sh/uv/getting-started/installation/).

Install python and setup dependencies with `uv sync --all-extras`.

{%- if workflow_lint %}
### Run linter and formatter

```
uv run ruff format .
uv run ruff check .
```
{% endif %}

{%- if workflow_test %}
### Run test

```
uv run pytest --cov
```
{%- endif %}