Install [rustup](https://rustup.rs/).

{%- if workflow_lint %}
### Run linter and formatter

```
cargo fmt
cargo clippy
```
{% endif %}

{%- if workflow_test %}
### Run test

```
cargo test
```
{%- endif %}