{%- raw %}
test:
  name: Test
  runs-on: ubuntu-latest
  permissions:
    contents: read
    pull-requests: read
  steps:
    - name: Checkout code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false

    - name: Configure rust toolchain stable
      run: rustup update stable && rustup default stable

    - name: Build the project
      run: cargo build

    - name: Run tests
      run: cargo test --release
{%- endraw %}
