{%- set lint_enabled = "lint" not in workflow or workflow["lint"] %}
{%- set test_enabled = "test" not in workflow or workflow["test"] %}
{%- set release_enabled = "release" not in workflow or workflow["release"] %}
<div align="center">
{%- if logo %}
<img src="https://raw.githubusercontent.com/{{ repository_name }}/main/docs/assets/logo.svg" align="center" width="144px" height="144px"/>
{%- endif %}

### {{ repository_title }}

_{{ repository_description }}_

</div>
<div align="center">

{% if lint_enabled and workflow["type"] in ["python"] %}
[![Lint](https://img.shields.io/github/actions/workflow/status/{{ repository_name }}/lint.yml?branch=main&label=&logo=ruff&style=for-the-badge&logoColor=D7FF64&color=black)](https://github.com/{{ repository_name }}/tree/main/.github/workflows/lint.yml)
{%- endif %}
{%- if test_enabled and workflow["type"] in ["python"] %}
[![Test](https://img.shields.io/github/actions/workflow/status/{{ repository_name }}/test.yml?branch=main&label=&logo=pytest&style=for-the-badge&logoColor=white&color=0A9EDC)](https://github.com/{{ repository_name }}/tree/main/.github/workflows/test.yml)
{%- endif %}
{%- if release_enabled %}
[![Release](https://img.shields.io/github/actions/workflow/status/{{ repository_name }}/release.yml?branch=main&label=&logo=github&style=for-the-badge&logoColor=black&color=white)](https://github.com/{{ repository_name }}/tree/main/.github/workflows/release.yml)
{%- endif %}
</div>

<div align="center">

{% if workflow["type"] == "python" and package_name is defined %}
[![Pypi](https://img.shields.io/pypi/v/{{ package_name }}?label=&logo=pypi&style=for-the-badge&logoColor=yellow&color=3776AB)](https://pypi.python.org/pypi/{{ package_name }})
[![Python](https://img.shields.io/pypi/pyversions/{{ package_name }}?label=&logo=python&style=for-the-badge&logoColor=yellow&color=3776AB)](https://pypi.python.org/pypi/{{ package_name }})
{%- endif %}

</div>