## 🙋‍♂️ Support & Assistance

* Take a look at the [support](.github/SUPPORT.md) document on
     guidelines for tips on how to ask the right questions.
* Questions can go to [Github Discussions](/../../discussions/new/choose).
* For all features/bugs/issues [head over here](/../../issues/new/choose).